* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #450920;
}

body * {
  font-family: "Philosopher", sans-serif;
  color: aliceblue;
}

main {
  height: 50%;
  size: cover;
  margin: auto;
}

#logo {
  text-align: center;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
#logo img {
  width: 360px;
}

nav {
  margin: auto;
  width: 360px;
}
/*retirar sublinhado*/
nav * {
  text-decoration: none;
  font-family: "Philosopher", sans-serif;
  font-size: 22px;
}
/*em linha, retirar bolinhas sumario e espaçar os itens*/
ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
/*cor e fonte*/
ul li a {
  color: #f9dbbd;
  font-family: "Montserrat", sans-serif;
  font-size: 105%;
  transition: 0.5s;
}
ul li a:hover {
  text-shadow: 0px 0px 2px white;
}

.containerrs {
  margin-top: 20px;
  padding: 50px;
  background-color: rgba(249, 219, 189, 0.9);
  height: auto;
  display: flex;
  flex-direction: row;
}
.containerrx {
  margin-top: 20px;
  height: 360px;
  display: flex;
  flex-direction: column;
}
.sobremim {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2 {
  margin-left: 230px;
  color: #450920;
  font-size: 30px;
  transition: 1s;
}
h2:hover {
  text-shadow: 0px 0px 0.75rem white;
}
#sobremimtext {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-left: 25%;
  padding-right: 5%;
  padding-top: 20px;
  color: #450920;
  transition: 1s;
  text-indent: 25px;
}

#sobremimtext:hover {
  text-shadow: 0px 0px 0.75rem white;
}
#profile {
  margin-right: 18%;
  margin-top: 3%;
}
#profi {
  border-radius: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 1s;
}

#profi:hover {
  filter: drop-shadow(0px 0px 0.75rem rgba(1000, 1000, 1000, 0.5));
}

#titlerx {
  color: #f9dbbd;
  padding-top: 25px;
  transition: 1s;
}
#titlerx:hover {
  text-shadow: 0px 0px 0.75rem black;
}
.portimg {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 1s;
}
.portimg img {
  transition: 1s;
}
.portimg img:hover {
  filter: drop-shadow(0px 0px 0.75rem black);
}

.containerct {
  margin-top: 20px;
  background-color: rgba(249, 219, 189, 0.9);
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#conttext {
  margin-left: 17%;
  margin-top: 20px;
}
#conttext * {
  color: #450920;
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  vertical-align: middle;
  transition: 0.5s;
}
#conttext *:hover {
  text-shadow: 0px 0px 2px white;
}
.icon {
  padding: 5px;
  border-radius: 50%;
  transition: 0.5s;
}
.icon:hover {
  background-color: rgb(255, 255, 255, 0.5);
}

@media (max-width: 950px) {
  .containerrs {
    margin-top: 20px;
    background-color: rgba(249, 219, 189, 0.9);
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2 {
    text-align: center;
    color: #450920;
    font-size: 30px;
    margin-left: 0px;
  }
  #sobremimtext {
    text-align: center;
    margin-left: 0px;
  }
  #profile {
    margin-right: 0%;
    margin-top: 10%;
  }
  .portimg {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .portimg * {
    margin-top: 25px;
  }
  .containerrx {
    height: 1200px;
  }
}
